:host {
  width: 99%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.res_label {
  padding: 0;
  margin-top: auto;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 15%;
  color: var(--main-title-color);
  font-style: inherit;
  font-size: 2.7vh;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: default;
}

.nav {
  margin-top: auto;
  padding: 0;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  color: rgb(118, 176, 207);
  background-color:var(--principal-backgound);
  border: 1px solid rgba(118, 176, 207, 0.1);
  font-size: 1.5vh;
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;

}

.nav:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 05);
  transition: ease-in-out;
  animation: pulse 1s infinite ease-in-out;
  z-index: 999;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(86, 37, 174, 0.65);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }
}


.chart {
  width: 100%;
  max-width: 900px;
  background-color: var(--principal-backgound);
  margin-top: 5vh;
  padding: 20px;
  border-radius: 13px;
  flex: 1;
  max-height: 340px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #040d39 transparent;
}


table {
  width: 100%;
  border-collapse: separate;
  background-color: transparent;
  cursor: default;
  border-radius: 12px 12px 0 0;
  overflow: hidden;

}

th {
  color: rgb(118, 176, 207);
  background-color: rgb(1, 8, 43) !important;
  height: 20px;
}

td {
  color: rgb(118, 176, 207) !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: var(--principal-backgound);
}

.mat-mdc-row:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.07);
}


img{
  width: 30px;
  height: 30px;
}

img:hover{
  scale: 1.2;
  cursor: pointer;
}
