<main>
  <div class="infos-row">
    <app-infrow></app-infrow>
  </div>
  <div class="residents-viewr">
    <app-residentviewr (notifier_edit)="edit_resident($event)"
                       (notifier_calc)="calc_tariff($event)"
                       [display_show]="to_send"
                       [original_order]="to_send" ></app-residentviewr>
  </div>
  <div class="resident-crud">
    <div class="header">
      <h5 class="title">Adicionar / Dados</h5>
      <div class="line" style="color: transparent">,</div>
    </div>
    <div class="crud">
      <app-residentpersistence (notifier)="save($event)"></app-residentpersistence>
      <app-payer [residents]="to_send"></app-payer>
      <div class="cards">
        <app-entries-card class="cards-d"></app-entries-card>
        <app-entries-payers-card class="cards-d"></app-entries-payers-card>
      </div>
    </div>
  </div>
</main>
