*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  height: 100vh;
  width: 100vw;
  background-color: #0b0415;
  display: flex;
  justify-content: left;
  flex-direction: row;
  overflow-y: auto;
}

.main-content{
  height: 100vh;
  width: 100vw;
}

.cursor-glow {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgba(0, 156, 239, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(80px);
  z-index: 9999;
}




