:host {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.report_label {
  padding: 0;
  margin-top: auto;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 15%;
  color: rgb(118, 176, 207);
  font-style: inherit;
  font-size: 2.7vh;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: default;
}

.content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}


.nav {
  margin-top: auto;
  padding: 0;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  color: rgb(118, 176, 207);
  background-color: rgba(1, 8, 43, 0.2);
  border: 1px solid rgba(118, 176, 207, 0.1);
  font-size: 1.5vh;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.nav:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 05);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(86, 37, 174, 0.65);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }
}


input{
  all: unset;
}

.search{
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 20%;
}

.srch_lbl{
  color: rgb(118, 176, 207);
  font-size: 2vh;
  font-weight: bold;
}

#srch{
  background-color: #0d1117;
  width: 80%;
  height: 40%;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
  border-bottom:2px solid #15252b;
  font-size: 1.7vh;
}

.view_prev{
  max-height: 270px;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #040d39 transparent;
}
ul{
  list-style-type:none;
  color: rgb(118, 176, 207);
}
.li_cont {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 0.3fr;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  border-bottom: 2px solid #12313e;
  gap: 10px;
  cursor: default;
}

.edit_ico:hover{
  cursor: pointer;
  background-color: #12313e;
  border-radius:20px;
  scale: 1.3;
}

.icons{
  width: 30px;
  height: 30px;
}

.edit_ico{
  height: 30px;
  width: 30px;
}
.icons:hover{
  scale: 1.2;
  cursor: pointer;
}
