:host {
  height: 95%;
  width: 97%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  position: relative;

}

.ctr_label{
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 11%;
  color: var(--main-title-color);
  font-style: inherit;
  font-size: 3vh;
  position: absolute;
  top: 10px;
  left:  10px;
  cursor: default;
}

.chart {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.chr-pie{
  justify-content: flex-end;
  align-items: center;

}
.chr-bar{
  align-items: center;
  justify-content: flex-end;
}


#chart_pie {
  width: 90%;
  height: 90%;
}

#chart_bar {
  width: 90%;
  height: 80%;
}


#chart_donut {
  width: 90%;
  height: 90%;
}


.nav {
  margin-top: auto;
  padding: 0;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 9%;
  color: rgb(118, 176, 207);
  background-color: var(--home-nav-buttons);
  border: 1px solid rgba(118, 176, 207, 0.1);
  font-size: 1.5vh;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.nav:hover{
  text-shadow: 0 0 10px rgba(255, 255, 255, 05);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%{
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }50%{
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(86, 37, 174, 0.65);
  }100%{
    transform: scale(1);
    text-shadow: 0 0 5px rgba(86, 37, 174, 0.65);
  }
}



