
main {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  position: relative;
  bottom: -5px;
  width: 95%;
  height: 2px;
  border-radius: 20px;
  background-color: #3e5773;
  z-index: 999;
  color: transparent;
}

.title {
  width: 90%;
  font-size: 2.5vh;
  color: #77abe4;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  background-color: #0d1117;
}

ul {
  list-style-type: none;
  color: rgb(118, 176, 207);
}

.lst {
  width: 100%;
  height: 500px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 7px;
}

.lst::-webkit-scrollbar{
  display: none;
}

.lst-content {
  width: 99%;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 0.9fr 0.6fr 0.5fr 0.3fr 1fr;
  gap: 100px;
  border-bottom: 1px solid #252e35;
  font-size: 2vh;
  height: 45px;
  align-items: center;
}

.flag {
  font-size: 1.7vh;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debit {
  background-color: #12313e;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.lst-cont-title{
  display: grid;
  grid-template-columns: 0.9fr 0.6fr 0.5fr 0.3fr 1fr;
  align-items: center;
  padding-left: 30px;
  color: #77abe4;
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0 0 ;
  background-color: rgb(1, 8, 43);
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
}

input{
  all: unset;
}
.search{
  justify-self: end;
  display: flex;
  align-content: end;
}

#resident-search{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  padding: 5px 5px 5px 30px;
  background: white url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat;
  background-size: 16px 16px;
  background-position: 8px center;
}

#resident-search:focus{
  outline: 3px solid #225b71;
}

.lst-content:hover{
  background-color: #344360;
}

.opt{
  justify-self: center;
}
