:root{
  --color-white:#fff;
  --color-black:#000;
  --glow-color:#5CA5C87F;
  --main-title-color: rgba(118, 176, 207, 0.76);
  --app-backgroud-color:#0D1117E5;
  --button-nav:#2503514C;
  --principal-backgound:#0d1117;
  --home-nav-buttons:#01082B33;
  --li-content-hover:#344360FF;
  --edit-ico-hover:#12313e;
  --line-color:#3e5773;
}




*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 2000px;
  max-height: 2000px;
  background-color: #fff;
  cursor: default;
}
.mat-mdc-raised-button {
  border-radius: 0 !important;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
