main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #0b0415;
    padding: 20px;
    box-sizing: border-box;
}


.row {
    display: flex;
    gap: 20px;
    flex: 1;
}


.row-1 {
    flex-direction: row;
}


.row-2 {
    flex-direction: row;
}


.residents-class,
.reports-class,
.control-class {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(86, 37, 174, 0.65);
    background-color:#0d1117 ;
}

.control-class{
    margin-top: 20px;
}

